*{
    margin: 0px;
    padding:0px;
}
body{
    height:1725px;
    background-color:bisque;
}
#navbar ::before{
    background-color: black;
    content:" ";
    position: absolute;
    top:0px;
    left:0px;
    width: 100% ;
    height: 100%;
    z-index: -1;
}
#logo img{
    float:left;
    width:70px;
    margin:10px 30px;
    border-radius: 50%;

}
#navbar{
    position: relative;
    display: flex;
    background-color:black;
}
#navbar ul{
    display:flex;
    margin:auto;
    position:relative;
    right:55px;
    flex-wrap: wrap;
}
#navbar ul li{
    list-style: none;
    margin:10px;
    font-family: 'Bad Script', cursive;
font-family: 'Baloo Bhaijaan 2', cursive;
font-family: 'Bree Serif', serif;
font-family: 'Caveat', cursive;
font-family: 'Mogra', cursive;
font-family: 'Oooh Baby', cursive;
font-family: 'Pacifico', cursive;
font-family: 'Rubik Iso', cursive;
font-family: 'Teko', sans-serif;
font-family: 'Titan One', cursive;
   
}
#navbar ul li a{
    padding: 3px 20px;
    text-decoration: none;
    color: white;
    font-size: 20px;
    border-radius: 40px;
}
#navbar ul li a:hover{
    color:black;
    background-color:white;
}

#home{
    display: flex;
    flex-direction: column;
    padding: 100px 200px;
    height: 300px;
    justify-content: center;
    align-items: center;

}
.btn{
    font-weight: bold;
    font-size: 1rem;
    font-family: 'Bad Script', cursive;
    font-family: 'Baloo Bhaijaan 2', cursive;
    font-family: 'Bree Serif', serif;
    font-family: 'Caveat', cursive;
    font-family: 'Mogra', cursive;
    font-family: 'Oooh Baby', cursive;
    font-family: 'Pacifico', cursive;
    font-family: 'Rubik Iso', cursive;
    font-family: 'Teko', sans-serif;
    font-family: 'Titan One', cursive;
    background-color:white;
    padding:3px 20px;
    margin:20px;
    border-radius: 40px;
    cursor: pointer;
}
.btn:hover{
    background-color: azure;
}
#home::before{
    background:url('https://cdn.pixabay.com/photo/2017/08/12/19/01/legs-2635038_1280.jpg') no-repeat center center/cover; 
    content:" ";
    position: absolute;
    width: 100% ;
    height: 80%;
    z-index: -1;
    opacity:0.92;

}
#home h1{
    color:rgb(0, 0, 0);
    text-align: center;
    font-family: 'Bad Script', cursive;
font-family: 'Bree Serif', serif;
font-family: 'Caveat', cursive;
font-family: 'Mogra', cursive;
font-family: 'Oooh Baby', cursive;
font-family: 'Pacifico', cursive;
font-family: 'Rubik Iso', cursive;
font-family: 'Teko', sans-serif;
font-family: 'Titan One', cursive;
   
}
.h-primary{
    font-size: 3.8rem;
    padding: 12px;
}
#home p{
    font-size: 2rem;
    font-family: 'Bad Script', cursive;
font-family: 'Bree Serif', serif;
font-family: 'Caveat', cursive;
font-family: 'Mogra', cursive;
font-family: 'Oooh Baby', cursive;
font-family: 'Pacifico', cursive;
font-family: 'Rubik Iso', cursive;
font-family: 'Teko', sans-serif;
font-family: 'Titan One', cursive;
}
.icons{
    display:flex;
    justify-content: center;
    align-items: center;
   
}
.icons ul{
    display:flex;
    flex-wrap: wrap;
    margin:7px 15px;
    padding:10px;
}
.icons ul li{
    margin: 10px;
    list-style: none;
}
.icons ul a img{
    border-radius: 50%;
    text-decoration: none;
}
#iconlink{
    top:20px;
    right:50px;
}
.icons img:hover{
    transform: scale(1.1);
}
#heading-items{
    text-align: center;
    font-size: 3rem;
    margin:30px;
    text-decoration: underline;
    font-family: 'Bad Script', cursive;
    font-family: 'Bree Serif', serif;
    font-family: 'Caveat', cursive;
    font-family: 'Mogra', cursive;
    font-family: 'Oooh Baby', cursive;
    font-family: 'Pacifico', cursive;
    font-family: 'Rubik Iso', cursive;
    font-family: 'Teko', sans-serif;
    font-family: 'Titan One', cursive;

}
.items-container{
    display:flex;
    flex-direction: column;
    justify-content: center;
    margin:20px;
    width:500px;

}
.items{
    border:2px solid black;
    background-color: rgb(234, 225, 225);
    border-radius: 20px;
    height:300px;
    width:350px;
    margin:5px 15px;
    padding:10px;
}
.items h3{
    text-align: center;
}
.items p{
    text-align: center;
}
.items img{
    display: block;
    height:150px;
    border-radius: 10px;
    border:1px solid plum;
    width:170px;;
    margin: auto;
}
.R1{
    display:flex;
    width:1400px;
    margin: 30px;
    flex-direction: row;
}
footer {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}
.footer-logo img {
    max-width: 150px;
    border-radius: 50%;
}

.footer-menu ul {
    list-style: none;
}

.footer-menu ul li {
    margin-bottom: 10px;
}

.footer-menu a {
    color: rgb(243, 233, 233);
    text-decoration: none;
    font-family: 'Bad Script', cursive;
    font-family: 'Baloo Bhaijaan 2', cursive;
    font-family: 'Bree Serif', serif;
    font-family: 'Caveat', cursive;
    font-family: 'Mogra', cursive;
    font-family: 'Oooh Baby', cursive;
    font-family: 'Pacifico', cursive;
    font-family: 'Rubik Iso', cursive;
    font-family: 'Teko', sans-serif;
    font-family: 'Titan One', cursive;
       
}
.footer-social ul {
    list-style: none;
    display: flex;
}

.footer-social ul li {
    margin-right: 10px;
}

.footer-social img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
}
.footer-social img:hover{
    transform: scale(0.9);
}

.footer-bottom {
    margin-top: 20px;
    text-align: center;
}
.footer-bottom p {
    font-size: 12px;
}

.footer-bottom a {
    color: #fff;
    text-decoration: none;
    
}
